
#container {
    width: 80%;
    margin: 0 auto;
}

#navbar {
    background-color: rgba( 55, 22, 200, 0.8);
    text-align: center;
    padding: 4px 0px;
}

a {
    color: beige;
}

a:hover {
    color: rgb(223, 223, 142);
}

#contenido {
    float: right;
    width: 77.9%;
    background-color: #06D6A0;
    padding: 10px;
}

#sidebar {    
    position: fixed;
    width: 15.76%;
    background-color: #EF476F;
}
